# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Data files
*.csv
*.json
*.pickle
*.pkl

# IDE
.vscode/
.idea/
*.swp
*.swo
